* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.container {
    background-color: #FAFF00;
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.form {
    background-color: #474747;

    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 15px;

    padding: 60px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.form p {
    font-size: 45px;
    color: #FFF;
    font-weight: bold;
}

.form input {
    width: 100%;
    height: 30px;

    border-radius: 5px;
    border: 1px solid #000;
    overflow: hidden;
    padding-left: 15px;
    outline: none;

    color: #000;

    font-size: 20px;
}

.form button {
    cursor: pointer;
    background-color: #474747;
    border: 1px solid #000;
    font-size: 25px;
    color: #f8f8f8;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 4px;

    transition: all 0.35s;
}
.form button:hover {
    background-color: #FAFF00;
}

.display input {
    background-color: #FFF;
}
